#main_box{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-bottom: 10px;
}
    
input[type='text'] {
    border-radius: 5px;
    border: 2px green solid;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
}
div {
    width: max-content;
    margin: 0 auto;
    padding:0 40px ;
}
button{
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
}
fieldset {
    width: 300px;
    margin: 0 auto;
    display: inline;
}
form {
    display: flex;
}
table, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}
#sec_box {
    margin: 20px;
    margin-left: 55px;
}
#tool {
    width: 223px;
    margin-bottom: 2px;
    height: 20px;
}